@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');
*,*:before,*:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
}
.inter{
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
.poppins-semibold{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
body{
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
h3, p, ul, span, .btn{
	font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.btn, button, ul{
	cursor: pointer;
}
.container{
	width: 100%;
	max-width: 1301px;
	padding: 0 25px;
	margin: 0px auto;
}
header{
	position: relative;
	width: 100%;
	max-width: 1301px;
	height: 58px;
	padding: 0 25px;
	margin: 45px auto 0;
	display: flex;
	justify-content: space-between;
}
header .flex:nth-child(1){
	width: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
header .flex:nth-child(1) img{
	aspect-ratio: 1;
	height: 100%;
}
header .flex:nth-child(1) h3{
	display: none;
}
header .flex:nth-child(1) .nav-btn{
	display: none;
	aspect-ratio: 1;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}
header .flex:nth-child(1) .nav-btn .line{
	width: 100%;
	height: 4px;
	background: black;
}
header .flex:nth-child(2){
	width: 91%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	transition: .5s ease;
}
header .flex:nth-child(2) ul{
	width: 39%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	color: #606060;
}
header .flex:nth-child(2) input, header .flex:nth-child(2) button{
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 600;
	height: 100%;
}
header .flex:nth-child(2) input{
	width: 30.5%;
	border: none;
	text-align: center;
	font-size: 15.71px;
	border-radius: 14.88px;
	color: red;
	background-color: #EDEDED;
}
header .flex:nth-child(2) button{
	width: 17.4%;
	border: none;
	font-size: 16.17px;
	border-radius: 16.17px;
	text-transform: uppercase;
	background: black;
	color: white;
}
/*HEADER*/
.type-a{
	margin-top: 100px;
	display: flex;
	position: relative;
	background: url('img/a-1.png') no-repeat;
	background-size: 780px;
	background-position: top 0 right 0;
}
.a-child{
	width: 45.3%;
	padding-bottom: 150px;
}
.a-child .line{
	width: 195px;
	height: 1px;
	background: grey;
}
.a-child h3{
	font-size: 75px;
	margin-bottom: 16px;
}
.a-child p{
	font-size: 18px;
	margin-bottom: 55px;
}
.a-child p .more-weight{
	font-weight: 800;
}
.a-child .flex{
	display: flex;
	gap: 23px;
	height: 60px;
	margin-bottom: 80px;
}
.a-child .flex .btn{
	height: 100%;
	padding: 0 42px;
	border-radius: 12.41px;
	font-size: 16.27px;
	text-transform: uppercase;
	display: flex;align-items: center;justify-content: center;
}
.a-child .flex .btn:nth-child(1){
	color: white;
	background: black;
}
.a-child .flex .btn:nth-child(2){
	border: 1.5px solid black;
}
.a-child ul{
	display: flex;
	flex-wrap: wrap;
	gap: 129.96px;
}
.a-child ul li{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 71px;
}
.a-child ul li p{
	margin: 0;
	font-size: 36.77px;
}
.a-child ul li span{
	font-size: 12.66px;
}
.a-child-second{
	aspect-ratio: 2.37;
	width: 166px;
	display: flex;align-items: center;justify-content: center;
	border-radius: 17.25px;
	position: absolute;
	bottom: 80px;
	z-index: 5;
	left: 52%;
	display: flex;
	box-shadow: 0 26px 10px 18px rgba(192, 192, 192, 0.5);
}
.a-child-second .btn{
	width: 36%;
	height: 37%;
}
.a-child-second .btn:nth-child(1){
	background: url('img/arrow.png') no-repeat;
	background-size: 70%;
	background-position: center;
}
.a-child-second .btn:nth-child(2){
	transform: rotate(180deg);
	background: url('img/arrow.png') no-repeat;
	background-size: 70%;
	background-position: center;
}
.type-b #e-block{
	transition: .5s ease;
}
.type-b{
	padding: 60px 0px;
	display: flex;
	gap: 100px;
	flex-direction: column;
	background: #EDF2F7;
	overflow: hidden;
	transition: .5s ease;
}
.type-b h3{
	font-size: 45px;
	text-align: center;
	color: #C5C5C5;
}
.type-b p{
	color: #C5C5C5;
}
.type-b .flex{
	display: flex;
	justify-content: center;
	gap: 39.84px;
}
.type-b .flex .item{
	position: relative;
	border-radius: 23.48px;
	padding: 14.12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	transition: .5s ease;
}
.type-b .flex .item img{
	border-radius: 23.48px;
	max-width: 260px;
}
.type-b .flex .item h3{
	text-align: left;
	color: black;
	font-size: 21.17px;
}
.type-b .flex .item .btn, .type-b .flex .item .time{
	position: absolute;
}
.type-b .flex .item .time{
	font-size: 14.12px;
	padding: 11.76px;
	border-radius: 9.41px;
	background: rgba(28, 29, 32, 0.35);
	top: 28px;
	right: 28px;
	color: white;
}
.type-b .flex .item .box{
	display: flex;
	gap: 40px;
}
.type-b .flex .item .box div{
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.type-b .flex .item .box p{
	font-size: 14.12px;
}
.type-b .flex .item .box span{
	display: flex;
	align-items: center;
	gap: 3px;
	font-size: 16.47px;
}
.type-b .flex .item .box button{
	width: 121.74px;
	height: 51.76px;
	border-radius: 11.76px;
	bottom: 30px;
	right: 30px;
	background: black;
	color: white;
	display: flex;align-items: center;justify-content: center;
	text-transform: uppercase;
}
.type-b .flex .item .box span img{
	width: 11.3px;
	border-radius: 18.78px;
}
.b-child{
	display: flex;align-items: center;justify-content: center;
	width: 166px;
	height: 70px;
	display: flex;
	margin: 0 auto;
	background: white;
	border-radius: 12.41px;
	box-shadow: 0 26px 10px 18px rgba(192, 192, 192, 0.5);
}
.b-child .btn{
	width: 50%;
	height: 100%;
}
.b-child .btn:nth-child(1){
	background: url('img/arrow.png') no-repeat;
	background-size: 50%;
	background-position: center;
}
.b-child .btn:nth-child(2){
	transform: rotate(180deg);
	background: url('img/arrow.png') no-repeat;
	background-size: 50%;
	background-position: center;
}

.type-c{
	width: 100%;
	padding: 19.5px;
	max-width: 1286px;
	margin: 0 auto;
}
.type-c h3{
	text-align: center;
}
.type-c .table-column-title{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	font-size: 22px;
	color: #93989A;
}
.type-c ul:nth-child(2) ul{
	display: flex;
	gap: 92.52px;
	font-size: 22px;
	color: #93989A;
}
.type-c ul ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 150px;
}
.type-c .table-row{
	height: 110px;
	display: flex;
	justify-content: space-between;
}
.type-c .table-row .icon{
	display: flex;
	gap: 23.65px;
	align-items: center;
	overflow: hidden;
}
.type-c .table-row .icon .img{
	border-radius: 50%;
	aspect-ratio: 1;
	width: 84.04px;
}
.type-c .table-row:nth-child(odd) .icon .img{
	background: url('img/b-1.png') no-repeat;
	background-size: cover;
	background-position: top 5% left -20%;
}
.type-c .table-row:nth-child(even) .icon .img{
	background: url('img/b-5.jfif') no-repeat;
	background-size: cover;
	background-position: right 40% bottom 15%;
}
.type-c .table-row .icon img{

}
.type-c .percent{
	color: #10C352;
}
.type-d{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 45px;
}
.type-d h3{
	text-align: center;
	font-size: 45px;
}
.type-d ul{
	display: flex;
	justify-content: center;
	gap: 20px;
}
.type-d ul li{
	height: 57.72px;
	padding: 17.68px;
	border: 2.21px solid black;
	border-radius: 13.26px;
	display: flex;align-items: center;justify-content: center;
	gap: 8.84px;
}
.type-d .flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
}
.type-d .arrow{
	margin: 30px 0 80px 0;
	display: flex;
	width: 100%;
	justify-content: end;
	gap: 15px;
	font-size: 17.67px;
	color: #ACADB9;
	cursor: pointer;
}
.d-flex-item{
	min-width: 283.46px;
	position: relative;
	border-radius: 23.48px;
	padding: 14.12px;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	box-shadow: 17.78px 11.8px 59px 0px #C7C7C799;
}
.d-flex-item img{
	border-radius: 23.48px;
	max-width: 260px;
}
.d-flex-item h3{
	text-align: left;
	color: black;
	font-size: 21.17px;
}
.d-flex-item .btn, .d-flex-item .time{
	position: absolute;
}
.d-flex-item .time{
	font-size: 14.12px;
	padding: 11.76px;
	border-radius: 9.41px;
	background: rgba(28, 29, 32, 0.35);
	top: 28px;
	right: 28px;
	color: white;
}
.d-flex-item .box{
	display: flex;
	gap: 40px;
}
.d-flex-item .box div{
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.d-flex-item .box p{
	font-size: 14.12px;
}
.d-flex-item .box span{
	display: flex;
	align-items: center;
	gap: 3px;
	font-size: 16.47px;
}
.d-flex-item .box button{
	width: 121.74px;
	height: 51.76px;
	border-radius: 11.76px;
	bottom: 30px;
	right: 30px;
	background: black;
	color: white;
	display: flex;align-items: center;justify-content: center;
	text-transform: uppercase;
}
.d-flex-item .box span img{
	width: 11.3px;
	border-radius: 18.78px;
}
.type-e{
	display: flex;
	flex-direction: column;
	gap: 60px;
	background: url('img/unleash-bc.png') no-repeat;
	background-size: 50%;
	background-position: right;
	border-top: 1px solid #CBCBCB;
	padding-top: 80px;
}
.type-e span h3{
	font-size: 45px;
}
.type-e span h3:nth-child(1){
	color: #93989A;
}
.type-e span h3:nth-child(2){
	color: black;
}
.type-e ul{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.type-e ul li{
	display: flex;
	gap: 12px;
	align-items: center;
	font-size: 16px;
}
.type-e button{
	width: 164px;
	height: 59px;
	padding: 10px;
	border-radius: 11.99px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	color: white;
	background: black;
}
.type-f{
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
	background: black;
}
.f-child{
	display: flex;

	gap: 40px;
	flex-direction: column;
}
.f-child span{
	display: flex;
	flex-direction: column;
	gao: 20px;
	color: white;
}
.f-child span h3{
	font-size: 45px;
	
}
.f-child span p{
	font-size: 20.27px;
	color: #D4D4D4;
}
.type-f .btn-box{
	display: flex;
	align-items: center;
	gap: 25px;
}
.type-f .btn-box button{
	width: 183.06px;
	height: 67.66px;
	border-radius: 12.2px;
	background: white;
	color: black;
	font-size: 21.46px;
}
.type-f .btn-box button:nth-child(2){
	border: 2px solid white;
	background: black;
	color: white;
}
footer{
	padding: 100px 0;
	background: black;
	
}
.footer-child{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 0;
}
.footer-child .elem{
	display: flex;
	align-items: center;
	gap: 15px;
	color: white;
}
.footer-child .elem span{
	font-size: 29.92px;
	color: white;
}
.footer-child:nth-child(1){
	border-bottom: 1px solid #93989A;
}
footer .footer-child ul{
	display: flex;
	flex-wrap: wrap;
	gap: 70px;
}
.footer-child ul li{
	font-size: 17.83px;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: #B9B9B9;
}
@media (max-width: 1200px){
	header{
		height: 50px;
	}
	.type-a{
		background-size: 700px;
	}
	.a-child h3{
		font-size: 60px;
	}
	.a-child p{
		font-size: 16px;
	}
	header .flex:nth-child(2) input::placeholder{
		font-size: 14px;
	}
	header .flex:nth-child(2) button{
		font-size: 14px;
	}
	.a-child .flex{
		gap: 18px;
		height: 55px;
		margin-bottom: 70px;
	}
	.a-child .flex .btn{
		padding: 0 40px;
		border-radius: 12px;
		font-size: 16px;
	}
	.a-child ul{
		gap: 80px;
	}
	.a-child ul li{
		height: 65px;
	}
	.a-child ul li p{
		font-size: 32px;
	}
	.a-child-second{
		width: 150px;
	}
}
@media (max-width: 1024px){
	header{
		height: 45px;
		flex-wrap: wrap;
	}
	.type-a{
		background-size: 600px;
	}
	.a-child h3{
		font-size: 55px;
	}
	.a-child p{
		font-size: 14px;
	}
	.a-child .flex{
		gap: 15px;
		height: 40px;
		margin-bottom: 50px;
	}
	.a-child .flex .btn{
		padding: 0 35px;
		font-size: 14px;
	}
	.a-child ul{
		gap: 60px;
	}
	.a-child ul li{
		height: 60px;
	}
	.a-child ul li p{
		font-size: 24px;
	}
	.a-child-second{
		width: 140px;
	}
}
@media (max-width: 992px){
		header{
			height: 35px;
		}
		header ul{
			font-size: 12px;
		}
	header .flex:nth-child(2) input::placeholder{
		font-size: 12px;
	}
	header .flex:nth-child(2) button{
		font-size: 12px;
	}
	.type-a{
		background-size: 530px;
		background-position: top 80px right 0;
	}
	.a-child h3{
		font-size: 50px;
	}
	.a-child p{
		font-size: 12px;
	}
	.a-child .flex{
		gap: 15px;
		height: 35px;
		margin-bottom: 45px;
	}
	.a-child .flex .btn{
		padding: 0 30px;
		font-size: 10px;
	}
	.a-child ul{
		gap: 50px;
	}
	.a-child ul li{
		height: 55px;
	}
	.a-child ul li p{
		font-size: 22px;
	}
	.a-child-second{
		width: 130px;
	}
}
@media (max-width: 768px){
	header ul{
		flex-wrap: wrap;
	}
	header .flex:nth-child(2) input::placeholder{
		font-size: 12px;
	}
	header .flex:nth-child(2) button{
		font-size: 10px;
	}
	.container{
		padding: 0 20px;
	}
	.type-a{
		background-size: 450px;
		background-position: top 60px right 0;
	}
	.a-child h3{
		font-size: 35px;
	}
	.a-child .flex{
		gap: 12px;
		height: 30px;
		margin-bottom: 34px;
	}
	.a-child .flex .btn{
		padding: 0 30px;
		font-size: 10px;
	}
	.a-child ul{
		gap: 40px;
	}
	.a-child ul li{
		height: 38px;
	}
	.a-child ul li p{
		font-size: 20px;
	}
	.a-child-second{
		width: 125px;
	}
}
@media (max-width: 567px){
	header .flex:nth-child(2) input::placeholder{
		font-size: 10px;
	}
	.type-a{
		background-size: 350px;
		background-position: top 80px right 0;
	}
	.a-child .flex{
		gap: 12px;
		height: 28px;
		margin-bottom: 28px;
	}
	.a-child .flex .btn{
		padding: 0 25px;
		font-size: 10px;
	}
	.a-child ul{
		gap: 36px;
	}
	.a-child ul li{
		height: 35px;
	}
	.a-child ul li p{
		font-size: 18px;
	}
	.a-child-second{
		width: 120px;
	}
}
@media (max-width: 480px){
	header .flex:nth-child(2) input::placeholder{
		font-size: 10px;
	}
	.container{
		padding: 0 15px;
	}
	.container:nth-child(1){
		margin: 30px auto;
	}
	.type-a{
		background-size: 250px;
		background-position: top 80px right 0;
	}
	.a-child h3{
		font-size: 30px;
	}
	.a-child .flex{
		gap: 12px;
		height: 26px;
		margin-bottom: 20px;
	}
	.a-child ul{
		gap: 28px;
	}
	.a-child ul li{
		height: 30px;
	}
	.a-child ul li p{
		font-size: 16px;
	}
	.a-child-second{
		width: 110px;
	}
}
@media (max-width: 320px){
	header{
		height: 50px;
		padding: 15px 15px 5px;
		margin-top: 0;
		top: 0;
		position: fixed;
		z-index: 10;
		background: white;
	}
	header .flex:nth-child(1){
		width: 100%;
		z-index: 10;
	}
	header .flex:nth-child(1) h3{
		display: flex;
		align-items: center;
	}
	header .flex:nth-child(1) .nav-btn{
		display: flex;
		margin-left: auto;
	}
	header .flex:nth-child(2){
		position: absolute;
		width: 100vh;
		height: calc(100vh - 50px);
		padding: 30px;
		top: -100vh;
		left: 0;
		background: white;
		z-index: 5;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	header .flex:nth-child(2) ul{
		width: 100%;
		height: 60%;
		flex-direction: column;
		align-items: center;
	}
	header .flex:nth-child(2) input, header .flex:nth-child(2) button{
		width: 80%;
		max-width: 280px;
		height: 40px;
		margin: 15px auto;
		align-self: center;
	}
	.a-child h3{
		font-size: 24px;
	}
	.a-child .flex{
		gap: 10px;
		height: 24px;
		margin-bottom: 15px;
	}
	.a-child .flex .btn{
		padding: 15px 20px;
	}
	.a-child ul{
		gap: 20px;
	}
	.a-child ul li{
		height: 26px;
	}
	.a-child ul li p{
		font-size: 14px;
	}
	.a-child ul li span{
		font-size: 12px;
	}
	.a-child-second{
		width: 100px;
	}
}